
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: rgb(137,195,235); /* Old browsers */
background: -moz-linear-gradient(left, rgba(137,195,235,1) 0%, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(137,195,235,1) 0%,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(137,195,235,1) 0%,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c3eb', endColorstr='#d5ebfb',GradientType=1 );
}

.white-border {
border: 1px solid #e6e6e6;
padding: 15px;
margin-bottom: 20px;
background-color: #fff;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

.alert.alert-sucess {
text-align: center;
border: 1px solid lightblue;
border-radius: 5px;
width: 80%;
margin: 0 auto;
margin-bottom: 20px;
background-color: lightblue;
font-weight: 700px;
font-size: 18px;
    
}

.username {
	display: inline;
	font-weight: 700;
}

.description {
	display: inline
}

.show-posts {
	list-style: none;
	display: inline-block;
}

span.glyphicon.glyphicon-heart {
	color: red;
}

a.btn.btn-default.btn-sm {
	color:red;
}

.nav-row {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}